- content_for :javascripts do
  = javascript_include_tag "/js/#{@porra.id}/scriptSeleccion"


#seleccionables
  - @equipos.each do |grupo, eq|
    .grupo-select
      %h1
        Grupo
        = grupo
      %ul
        - eq.each do |equipo|
          %li{:class => 'equipo', :id => "li-#{equipo.id}"}
            %img{:src => "#{equipo.ruta_imagen}", :class => 'img-select', :id => "#{equipo.id}-p-#{equipo.valor}"}
            %p
              = equipo.nombre

#seleccion
  %h1 Equipos seleccionados
  #divequipos
  %button#validar
    Validar Selección


