- content_for :javascripts do
  = javascript_include_tag "/js/#{@porra.id}/scriptSeleccion"


#seleccionables
  - @equipos.each do |grupo, eq|
    .grupo-select
      %h1
        Grupo
        = grupo
      %ul
        - eq.each do |equipo|
          %li.equipo{:id => "li-#{equipo.id}"}
            %img{:src => "#{equipo.ruta_imagen}", :class => 'img-select', :id => "#{equipo.id}-p-#{equipo.valor}"}



#seleccion
  %h1 Equipos seleccionados
  #divequipos
  #pie_seleccion
    %p
      Equipos en selección:
      %strong#eqs 0
    %p
      Puntos en selección:
      %strong#pts 0

    %button#validar
      Validar Selección



