= form_for(@inscripcion) do |f|

  -if @inscripcion.errors.any?
    #error_explanation
      %h2= "#{pluralize(@inscripcion.errors.count, "error")} prohibited this inscripcion from being saved:"
      %ul
        - @inscripcion.errors.full_messages.each do |msg|
          %li= msg

  - @inscripcion.usuario = current_usuario

  = f.hidden_field :porra_id
  = f.hidden_field :usuario_id

  .actions
    = f.submit 'Inscribir'
