= form_for @inscripcion do |f|
  -if @inscripcion.errors.any?
    #error_explanation
      %h2= "#{pluralize(@inscripcion.errors.count, "error")} prohibited this inscripcion from being saved:"
      %ul
        - @inscripcion.errors.full_messages.each do |msg|
          %li= msg

  - @inscripcion.usuario = current_usuario
  .field
    = f.label :porra_id
    %strong= @inscripcion.porra.titulo
  .field
    = f.label :usuario_id
    = current_usuario.nombre
  .field
    = f.label :fecha
    = Time.now
  .field
    = f.label :pagado
    = f.check_box :pagado
  .actions
    = f.submit 'Save'
