= form_for @mensaje do |f|
  -if @mensaje.errors.any?
    #error_explanation
      %h2= "#{pluralize(@mensaje.errors.count, "error")} prohibited this mensaje from being saved:"
      %ul
        - @mensaje.errors.full_messages.each do |msg|
          %li= msg

  .field_mensaje
    = f.text_area :texto
  .actions
    = f.submit 'Enviar Mensaje'
