-# CSS: implied media="all"
= stylesheet_link_tag 'style', :media => 'all'

= stylesheet_link_tag 'jquery/ui/contextMenu'
= stylesheet_link_tag 'jquery/ui/farbtastic'
= stylesheet_link_tag 'jquery/ui/tokeninput'
= stylesheet_link_tag 'jquery/ui/tokeninput.facebook'
= stylesheet_link_tag 'jquery/ui/tokeninput.mac'
= stylesheet_link_tag 'jquery/ui/base'
= stylesheet_link_tag 'jquery/ui/black-tie'
= stylesheet_link_tag 'jquery/ui/blitzer'
= stylesheet_link_tag 'jquery/ui/cowboy'
= stylesheet_link_tag 'jquery/ui/cupertino'
= stylesheet_link_tag 'jquery/ui/dark-hive'
= stylesheet_link_tag 'jquery/ui/dot-luv'
= stylesheet_link_tag 'jquery/ui/eggplant'
= stylesheet_link_tag 'jquery/ui/excite-bike'
= stylesheet_link_tag 'jquery/ui/flick'
= stylesheet_link_tag 'jquery/ui/hot-sneaks'
= stylesheet_link_tag 'jquery/ui/humanity'
= stylesheet_link_tag 'jquery/ui/le-frog'
= stylesheet_link_tag 'jquery/ui/mint-choc'
= stylesheet_link_tag 'jquery/ui/overcast'
= stylesheet_link_tag 'jquery/ui/pepper-grinder'
= stylesheet_link_tag 'jquery/ui/redmond'
= stylesheet_link_tag 'jquery/ui/smoothness'
= stylesheet_link_tag 'jquery/ui/south-street'
= stylesheet_link_tag 'jquery/ui/start'
= stylesheet_link_tag 'jquery/ui/sunny'
= stylesheet_link_tag 'jquery/ui/swanky-purse'
= stylesheet_link_tag 'jquery/ui/trontastic'
= stylesheet_link_tag 'jquery/ui/ui-darkness'
= stylesheet_link_tag 'jquery/ui/ui-lightness'
= stylesheet_link_tag 'jquery/ui/vader'


-# Uncomment if you are specifically targeting less enabled mobile browsers
-#= stylesheet_link_tag 'handheld', :media => 'handheld'

-# Append your own using content_for :stylesheets
= yield :stylesheets