%p#notice= notice

.caja

  %h1= @porra.titulo

  %p= @porra.descripcion

  %p
    Usuarios inscritos:
    = @porra.usuarios.count

  - if @porra.usario_inscrito? current_usuario
    %p Ya estás inscrito
    - if @porra.fecha_inicio > DateTime.now
      = link_to "Ir a Seleccion", new_seleccion_path(:idporra => @porra.id)
    - else
      = link_to "clasificacion", '#'
  - else
    %p
      = link_to "incribirse",  inscribir_url(:porra => @porra)



#borrar

  %p
    %b Titulo:
    = @porra.titulo
  %p
    %b Importe:
    = @porra.importe
  %p
    %b Inscripcion:
    = @porra.inscripcion_id

  = link_to 'Edit', edit_porra_path(@porra)
  \|
  = link_to 'Back', porras_path
