%p#notice= notice

.caja

  %h1= @porra.titulo

  %p= @porra.descripcion

  %p
    Usuarios inscritos:
    = @porra.usuarios.count

  - if usuario_signed_in?
    - if @porra.usario_inscrito? current_usuario
      %p Ya estás inscrito
      - if @porra.fecha_inicio > DateTime.now
        %br
        %p
          = link_to "Seleccion de equipos", new_seleccion_path(:idporra => @porra.id, :ts => 0), :class => 'btn'
          - if @num_select == @porra.num_equipos
            = link_to "Seleccion de jugadores", new_seleccion_path(:idporra => @porra.id, :ts => 1), :class => 'btn'
          - else
            = link_to "Seleccion de jugadores", "javascript:alert('Primero debe seleccionar los #{@porra.num_equipos} equipos.');", :class => 'btn'
      - else
        = link_to "clasificacion", '#'
    - else
      %p
        = link_to "incribirse",  inscribir_url(:porra => @porra)
  - else
    = link_to('es necesario ser usuario', new_usuario_session_path)
  %br



#borrar

  %p
    %b Titulo:
    = @porra.titulo
  %p
    %b Importe:
    = @porra.importe
  %p
    %b Inscripcion:
    = @porra.inscripcion_id

  = link_to 'Edit', edit_porra_path(@porra)
  \|
  = link_to 'Back', porras_path
